@import url('https://platilich.github.io/css/style.css');



body {
    
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;


}



header {
    padding: 2%;


    p, h1 {
        margin: 0px;
        margin-left: 5%;

    }

}




main {
    display: flex;
    flex-direction: column;

    padding: 5%;
    gap: 35px;

    


}


div {
    display: flex;
    justify-content: space-between;




    padding: 2%;

    align-items: center;

}



section {
    justify-content: center;
    text-align: center;
    padding: 2%;
    
}






input {
    font-size: larger;

    height: 48px;

    text-align: center;



    &:focus {
        outline: none;
    }

}






button {

    font-size: large;

    width: 400px;
    height: 60px;







}






footer {
    text-align: center;


    padding: 3%;



}





@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }




    div {
        display: flex;
        flex-direction: column;
        text-align: center;

        font-size: medium;
        padding: 10%;

        gap: 30px;


    }


    button {
        width: 400px;
    }


    input  {
        width: 230px;
    }



}