:root {
    --background: rgb(0, 0, 0);
    --element: #248862;
    --radius: 55px;
}



body {
    
    display: flex;
    flex-direction: column;



    background-color: var(--background);
    color: var(--element);


    font-family: Arial, Helvetica, sans-serif;


    margin: 0;
    padding: 0;


}




header {
    background-color: var(--element);
    color: var(--background);

    padding: 2%;


    p, h1 {
        margin: 0px;
        margin-left: 5%;

    }

}




main {
    display: flex;
    flex-direction: column;

    padding: 5%;
    gap: 35px;

    


}


div {
    display: flex;
    justify-content: space-between;


    padding: 2%;

    border: 1px solid var(--element);
    border-radius: var(--radius);

    align-items: center;

}



section {
    justify-content: center;
    text-align: center;
    padding: 2%;
    
}






input {
    background-color: var(--background);
    border: 1px solid var(--element);
    border-radius: var(--radius);
    color: var(--element);
    font-size: larger;

    height: 48px;

    text-align: center;



    &:focus {
        outline: none;
    }

}






button {
    border: 1px solid var(--element);
    color: var(--element);
    background-color: var(--background);



    border-radius: var(--radius);

    font-size: large;

    width: 400px;
    height: 60px;



    &:hover {
        background-color: var(--element);
        color: var(--background);
    }



}






footer {
    background-color: var(--element);
    color: var(--background);

    text-align: center;


    padding: 3%;



}





@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }




    div {
        display: flex;
        flex-direction: column;
        text-align: center;

        font-size: medium;
        padding: 10%;

        gap: 30px;


    }


    button {
        width: 400px;
    }


    input  {
        width: 230px;
    }



}